{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Jogos em destaque</h1>
    <hr>
        <li>Título: {{ titulo }}</li>
        <li>Ano: {{ ano }}</li>
        <li>Categoria: {{ categoria }}</li>
        <!-- aqui estamos usando as variáveis que criamos no app.py para mostrar as informações do jogo na página de games.html -->

            <h3>TOP Players - Ranking</h3>
            <ol>
                {% for jogador in jogadores %}
                    <li>{{ jogador }}</li>
                {% endfor %}
            </ol>

    <p>O jogo {{ titulo }} tem {{ 2026 - ano }} ano</p>

    <a href="/">Voltar</a>

</main>
{% endblock content %}